*{
  margin:0;
  padding: 0;
  box-sizing: border-box;

  
}
.form_button{
  display:flex;
  gap: 15px;

  justify-content: center;
  padding-top: 100px;


}

button{
  border:none;
  
  border-radius: 10%;
  height: 25px;
  color:#030720;
  width: 50px;
}
.wrapper{
  background-color: #030720;
  height: 100vh;
  width: 100%;
  



}
  
 

input{
  height: 25px;
  width: 200px;
  margin-bottom: 5px;
}
label{
  color: aliceblue;
  display: block;
  text-align: center;
  margin: 5px;
 
}
.submit{
  margin-left: 20px;
 

}
.submit-delet{
  margin-top:30px;
}

   

.main-list{
 margin-left: 40%;

} 
.btn-list{
  display: inline;
}
p{
 background-color: blueviolet; 
  display: inline;
  padding-left: 30px;
  padding-right: 30px;

  margin-bottom: 10px;
  margin-top: 10px;
}
.btn-btn{
  color: white;
  background-color: #030720;
}